<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Wakey.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
            <section name="Waky.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <userSettings>
        <Wakey.Properties.Settings>
            <setting name="pos_s" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="pos_r" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="Style" serializeAs="String">
                <value>0</value>
            </setting>
        </Wakey.Properties.Settings>
        <Waky.Properties.Settings>
            <setting name="pos_s" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="pos_r" serializeAs="String">
                <value>0</value>
            </setting>
        </Waky.Properties.Settings>
    </userSettings>
</configuration>